package examples

import "github.com/romshark/morpheus/neo"

var selectLongListCountries = []string{
	"🇦🇫 Afghanistan", "🇦🇱 Albania", "🇩🇿 Algeria", "🇦🇩 Andorra",
	"🇦🇴 Angola", "🇦🇬 Antigua and Barbuda", "🇦🇷 Argentina",
	"🇦🇲 Armenia", "🇦🇺 Australia", "🇦🇹 Austria", "🇦🇿 Azerbaijan",
	"🇧🇸 Bahamas", "🇧🇭 Bahrain", "🇧🇩 Bangladesh", "🇧🇧 Barbados",
	"🇧🇾 Belarus", "🇧🇪 Belgium", "🇧🇿 Belize", "🇧🇯 Benin",
	"🇧🇹 Bhutan", "🇧🇴 Bolivia", "🇧🇦 Bosnia and Herzegovina",
	"🇧🇼 Botswana", "🇧🇷 Brazil", "🇧🇳 Brunei", "🇧🇬 Bulgaria",
	"🇧🇫 Burkina Faso", "🇧🇮 Burundi", "🇰🇭 Cambodia", "🇨🇲 Cameroon",
	"🇨🇦 Canada", "🇨🇻 Cape Verde", "🇨🇫 Central African Republic",
	"🇹🇩 Chad", "🇨🇱 Chile", "🇨🇳 China", "🇨🇴 Colombia",
	"🇰🇲 Comoros", "🇨🇬 Congo", "🇨🇷 Costa Rica", "🇭🇷 Croatia",
	"🇨🇺 Cuba", "🇨🇾 Cyprus", "🇨🇿 Czechia", "🇩🇰 Denmark",
	"🇩🇯 Djibouti", "🇩🇲 Dominica", "🇩🇴 Dominican Republic",
	"🇪🇨 Ecuador", "🇪🇬 Egypt", "🇸🇻 El Salvador",
	"🇬🇶 Equatorial Guinea", "🇪🇷 Eritrea", "🇪🇪 Estonia",
	"🇸🇿 Eswatini", "🇪🇹 Ethiopia", "🇫🇯 Fiji", "🇫🇮 Finland",
	"🇫🇷 France", "🇬🇦 Gabon", "🇬🇲 Gambia", "🇬🇪 Georgia",
	"🇩🇪 Germany", "🇬🇭 Ghana", "🇬🇷 Greece", "🇬🇩 Grenada",
	"🇬🇹 Guatemala", "🇬🇳 Guinea", "🇬🇼 Guinea-Bissau", "🇬🇾 Guyana",
	"🇭🇹 Haiti", "🇭🇳 Honduras", "🇭🇺 Hungary", "🇮🇸 Iceland",
	"🇮🇳 India", "🇮🇩 Indonesia", "🇮🇷 Iran", "🇮🇶 Iraq",
	"🇮🇪 Ireland", "🇮🇱 Israel", "🇮🇹 Italy", "🇯🇲 Jamaica",
	"🇯🇵 Japan", "🇯🇴 Jordan", "🇰🇿 Kazakhstan", "🇰🇪 Kenya",
	"🇰🇮 Kiribati", "🇰🇼 Kuwait", "🇰🇬 Kyrgyzstan", "🇱🇦 Laos",
	"🇱🇻 Latvia", "🇱🇧 Lebanon", "🇱🇸 Lesotho", "🇱🇷 Liberia",
	"🇱🇾 Libya", "🇱🇮 Liechtenstein", "🇱🇹 Lithuania",
	"🇱🇺 Luxembourg", "🇲🇬 Madagascar", "🇲🇼 Malawi",
	"🇲🇾 Malaysia", "🇲🇻 Maldives",
}

templ SelectLongList() {
	@neo.SelectAttrs(neo.SelectOpts{
		AriaLabel:    neo.Set("Country"),
		Placeholder:  neo.Set("Pick a country"),
		MinFitHeight: neo.Set("0"),
	}, nil) {
		for _, name := range selectLongListCountries {
			@neo.Option(neo.OptionOpts{Value: neo.Set(name)}) {
				{ name }
			}
		}
	}
}
